* {
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding: 1em;
}

#headerTitle {
    text-align: center;
    flex: 6;
}
.material-icons {
    font-size: 36px;
    color: #333;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
.material-icons:hover {
    color: #444;
}

/*Calendar*/
.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.calendar__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
