* {
    margin: 0;
    box-sizing: border-box;
}
/*GFONTS*/
/*font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/* GENERAL */
.hide {
    display: none;
}
/*Header*/
header {
    display: flex;
    flex-direction: row;
    background-color: grey;
    padding: 1em;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    align-items: center;
}
#headerTitle {
    text-align: center;
    flex: 6;
}
.material-icons {
    font-size: 36px;
    color: #333;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}
.material-icons:hover {
    color: #444;
}
/*Create-Event-Form*/
.create-event {
    width: 100vw;
    height: 100vh;
    background: #333;
    opacity: .9;
    position: absolute;
    z-index: 1;
}
.create-event__container {
    margin: 3em 5em;
    padding: 1em;
    background: #fff;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-event__container > h2 {
    margin: .5em auto;
}
.create-event__container > form > * {
    margin: .5em auto;
}
.create-event__container > form > input {
    padding-left: .25em;
}
.create-event__container > form > div {
    display: flex;
    justify-content: flex-end;
}
.create-event__container > form > .description-label {
    vertical-align: top;
}
.btn-form {
    width: 100px;
    height: 35px;
    margin-left: .5em;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}
.btn-form:hover {
    background: #666;
}
.icon-close {
    position: absolute;
    top: .5em;
    right: .5em;
    color: #333;
    cursor: pointer;
    transition: color 200ms ease-in-out;
}
.icon-close:hover {
    color: #666;
}
/*Calendar*/
.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
}
.calendar__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: darkgrey;
    color: white;
    width: 100%;
}

/*Calendar body grid*/
.calendar__body {
    width: 100%;
    height: 90vh;
}
#calendar__days__week, #calendar__days__number {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}
.calendar__days__week {
    font-size: 2rem;
    border: 1.5px solid lightgray;
}
.calendar__days__number {
    border: 1px solid lightgray;
    width: 100%;
    height: 16.65vh;
    font-size: 2rem;
    font-weight: 600;
}
